.history {
  display: flex;
  flex-direction: column;
  padding: 0 61px;
  grid-column: span 2;

  @include r(1200) {
    padding: 0 20px;
  }

  &:nth-child(2) {
    padding-right: 65px;
  }

  &__lines {
    display: flex;
    justify-content: space-between;
    column-gap: 78px;
    margin-bottom: 2px;

    @include r(1200) {
      display: none;
    }
  }

  &__line {
    display: flex;
    width: 100%;
    height: 10px;
    background-color: $primary;

    &:nth-child(2) {
      background-color: $light;
    }
  }
}