.section {
  position: relative;

  &--split {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 20px;

    @include r(1200) {
      display: flex;
      flex-direction: column;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #22396B;
      background-image: url(../assets/images/section-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;

      @include r(1200) {
        display: none;
      }
    }
  }

  &--business {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: $primary;
      background-image: url('../assets/images/section-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;

      @include r(1200) {
        display: none;
      }
    }
  }
}
