.text {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: $primary;
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
  @include r(1200) {
    font-size: 14px;
  }
}