.timeline {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  z-index: 2;

  &::before {
    position: absolute;
    left: 27px;
    top: 76px;
    content: '';
    display: flex;
    width: 95%;
    height: 10px;
    background-color: $red;
    transform: translateY(-50%);
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    z-index: 1;
    &:nth-child(7) {
      margin-right: 68px;
    }
    &::before {
      content: '';
      display: flex;
      flex-shrink: 0;
      margin-bottom: 15px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 5px solid $primary;
      background-color: $primary;
    }

    &--light {
      color: $light;
      &::before {
        border-color: $light;
        background-color: $light;
      }
    }

    &--main {
      margin-top: 3px;

      &::before {
        width: 30px;
        height: 30px;
        border-color: $red;
        background-color: $light;
      }

      .timeline__date {
        font-size: 32px;
      }
    }
  }

  &__text {
    font-size: 12px;
  }

  &__date {
    margin-bottom: 10px;
    font-size: 20px;
    order: -1;
  }
}