.section-side {
  position: relative;
  display: flex;
  flex-direction: column;

  &.invert {
    * {
      color: $light !important;
    }
  }

  &--full {
    width: 100%;
  }

  &--mob-blue {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #22396B;
      background-image: url(../assets/images/section-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    right: 48px;
    display: flex;
    width: auto;
    height: 279px;
    z-index: 1;

    @include r(1200) {
      display: none;
    }
  }
}