<!DOCTYPE html>
<html lang="ru">

<head>
	<%= htmlWebpackPlugin.options.head %>
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<main class="main">
	<section class="section">
		<div class="intro full-page">
			<h1 class="intro__title">
				Ваш <span>надёжный</span><br>
				<span>Выгодный</span> партнёр
			</h1>
			<img class="intro__logo" src="assets/images/logo.svg" alt="">
		</div>
	</section>
	<section class="section section--split">
		<div class="waves">
			<div class="waves__side waves__side--short">
				<img src="./assets/images/wave-short-light.svg" alt="">
			</div>
			<div class="waves__side">
				<img src="./assets/images/wave-long-dark.svg" alt="">
			</div>
		</div>
		<div class="section-side">
			<img src="./assets/images/logo.svg" alt="" class="section-side__logo">
			<div class="about">
				<div class="about__info">
					<h2 class="title">О Компании</h2>
					<p class="text">
						Группа компаний «За Родину» предлагает рынку широчайший ассортимент
						рыбных консервов в традиционных и самых передовых вкусовых линейках.
						Рыбоперерабатывающий комплекс полного цикла, современная инновационная
						и открытая компания на Евроазиатском рынке, с более 75 летней историей.
					</p>
					<p class="text">
						Флот компании регулярно модернизируется и расширяется. Одним из последних
						значимых дополнений стало флагманское судно с символичным именем "За Родину".
						Более того в 2021 году прошёл пуск нового высокотехнологичного завода с 7 линиями
						производства до 120 млн. физических банок в год и складом единовременного хранения
						до 13 млн. единиц готовой продукции.
					</p>
				</div>
				<div class="about__gallery">
					<picture class="about__picture">
						<img src="./assets/images/images-1.png" alt="">
					</picture>
					<picture class="about__picture">
						<img src="./assets/images/images-2.png" alt="">
					</picture>
					<picture class="about__picture">
						<img src="./assets/images/images-3.png" alt="">
					</picture>
					<picture class="about__picture">
						<img src="./assets/images/images-4.png" alt="">
					</picture>
					<picture class="about__picture">
						<img src="./assets/images/images-5.png" alt="">
					</picture>
				</div>
			</div>
		</div>
		<div class="section-side section-side--mob-blue pb-370 pbm-20 mbm-20 invert">
			<div class="mission">
				<div class="mission__info">
					<h3 class="title">Миссия</h3>
					<p class="text">
						Надёжный партнёр, делающий доступным высококачественный продукт
						в каждый дом. Продукт, изготовленный с сохранением свойств свежей рыбы
						собственного улова по инновационным технологиям и уникальным рецептам.
					</p>
				</div>
				<div class="mission__item mb-20">
					<h4 class="mission__title">Дистрибьюция</h4>
					<div class="mission__stats">
						<div class="mission__data">
							<p class="mission__num">8</p>
							<p class="mission__description">
								зарубежных<br> стран-партнеров
							</p>
						</div>
						<div class="mission__data">
							<p class="mission__num">46</p>
							<p class="mission__description">
								эксклюзивных<br> дестрибьюторов
							</p>
						</div>
						<div class="mission__data">
							<p class="mission__num">58</p>
							<p class="mission__description">
								региона продаж<br> Российской Федерации
							</p>
						</div>
					</div>
					<img class="mission__map" src="./assets/images/map.svg" alt="">
				</div>
				<div class="mission__item mb-10 mission__item--share">
					<h4 class="mission__title">Доля рынка</h4>
					<div class="mission__stats">
						<div class="mission__data">
							<div class="mission__circle">
								<img src="./assets/images/circle.svg" alt="">
								<p class="mission__percent">15%</p>
							</div>
							<p class="mission__description">
								российского<br> рынка кильки<br> в томатном<br> соусе
							</p>
						</div>
						<div class="mission__data">
							<div class="mission__circle">
								<img src="./assets/images/circle-20.svg" alt="">
								<p class="mission__percent">25%</p>
							</div>
							<p class="mission__description">
								российского<br> рынка шпрот
							</p>
						</div>
					</div>
				</div>
				<div class="mission__item mission__item--graph">
					<h4 class="mission__title">Объем<br>Производства</h4>
					<div class="graph">
						<div class="graph__item">
							<div class="graph__plate"></div>
							<p class="graph__data">2013</p>
						</div>
						<div class="graph__item">
							<div class="graph__plate"></div>
							<p class="graph__data">2014</p>
						</div>
						<div class="graph__item">
							<div class="graph__plate"></div>
							<p class="graph__data">2015</p>
						</div>
						<div class="graph__item">
							<div class="graph__plate"></div>
							<p class="graph__data">2016</p>
						</div>
						<div class="graph__item">
							<div class="graph__plate"></div>
							<p class="graph__data">2017</p>
						</div>
						<div class="graph__item">
							<div class="graph__plate"></div>
							<p class="graph__data">2018</p>
						</div>
						<div class="graph__item">
							<div class="graph__plate"></div>
							<p class="graph__data">2019</p>
						</div>
						<div class="graph__item">
							<div class="graph__plate"></div>
							<p class="graph__data">2020</p>
						</div>
						<div class="graph__item">
							<div class="graph__plate"></div>
							<p class="graph__data">2021</p>
						</div>
						<div class="graph__item">
							<div class="graph__plate"></div>
							<p class="graph__data">2022</p>
						</div>
						<div class="graph__item graph__item--red">
							<div class="graph__plate"></div>
							<p class="graph__data">2023</p>
						</div>
						<div class="graph__item graph__item--red">
							<div class="graph__plate"></div>
							<p class="graph__data">2024</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="history">
			<h3 class="title title--small">История</h3>
			<div class="history__lines">
				<div class="history__line"></div>
				<div class="history__line"></div>
			</div>
			<div class="timeline">
				<div class="timeline__item timeline__item--main">
					<div class="timeline__date">1947</div>
					<div class="timeline__text">Основание<br> рыболовецкого<br> Колхоза<br> "За Родину".</div>
				</div>
				<div class="timeline__item">
					<div class="timeline__date">1949</div>
					<div class="timeline__text">Приобретение<br> колхозом<br> первого<br> самоходного<br> судна.</div>
				</div>
				<div class="timeline__item">
					<div class="timeline__date">1959</div>
					<div class="timeline__text">Приобретение<br> 30 морских<br> промысловых судов<br> и 22 моторных
						лодок<br>
						для работы в заливе.
					</div>
				</div>
				<div class="timeline__item">
					<div class="timeline__date">1960</div>
					<div class="timeline__text">Промысел в<br> Атлантическом<br> океане у берегов<br> Америки и Испании,<br>
						в
						Норвежском море.
					</div>
				</div>
				<div class="timeline__item">
					<div class="timeline__date">1980</div>
					<div class="timeline__text">"За Родину"<br> самый крупный<br> рыболовецкий<br> колхоз в Западном<br>
						регионе
						и второй<br> в стране.<br> Строительство<br> консервного цеха №1.
					</div>
				</div>
				<div class="timeline__item">
					<div class="timeline__date">2005</div>
					<div class="timeline__text">Регистрация<br> товарного<br> знака<br> "За Родину"</div>
				</div>
				<div class="timeline__item">
					<div class="timeline__date">2006</div>
					<div class="timeline__text">Модернизация<br> консервного<br> производства.</div>
				</div>
				<div class="timeline__item timeline__item--light">
					<div class="timeline__date">2015</div>
					<div class="timeline__text">Капитальная<br> реконструкция <br> рыбокомбината:<br> замена<br>
						производственных<br> линий,<br> увеличение<br> мощностей.
					</div>
				</div>
				<div class="timeline__item timeline__item--light">
					<div class="timeline__date">2016</div>
					<div class="timeline__text">Модернизация<br> причала,<br> строительство<br> цеха заморозки<br> и
						хранения,<br> покупка флагманского<br> судна "ЗА РОДИНУ".
					</div>
				</div>
				<div class="timeline__item timeline__item--light">
					<div class="timeline__date">2018</div>
					<div class="timeline__text">Покупка<br> судна <br> "РИМФОРС"</div>
				</div>
				<div class="timeline__item timeline__item--light">
					<div class="timeline__date">2019</div>
					<div class="timeline__text">Запуск<br> производственных<br> консервов<br> в стеклянной<br> банке.
					</div>
				</div>
				<div class="timeline__item timeline__item--light">
					<div class="timeline__date">2020</div>
					<div class="timeline__text">Начало строительства<br> нового рыбоконсервного<br> завода со
						складом<br>
						готовой продукции.<br> Приобретение<br> нового судна.<br> География промысла<br> расширилась
						до<br>
						Финского залива<br> и Каспийского моря.
					</div>
				</div>
				<div class="timeline__item timeline__item--light">
					<div class="timeline__date">2021</div>
					<div class="timeline__text">Завершение<br> строительства<br> нового завода<br> со складом<br>
						готовой<br>
						продукции
					</div>
				</div>
				<div class="timeline__item timeline__item--light timeline__item--main">
					<div class="timeline__date">2022</div>
					<div class="timeline__text">75-летие<br> компании.</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--business">
		<div class="waves">
			<div class="waves__side waves__side--short">
				<img src="./assets/images/wave-short-dark.svg" alt="">
			</div>
			<div class="waves__side">
				<img src="./assets/images/wave-long-light.svg" alt="">
			</div>
		</div>
		<div class="business">
			<h2 class="title">Бизнес-<br>Процессы</h2>
			<div class="business__way">
				<div class="business__item business__item--light">
					<div class="business__picture">
						<svg class="business__icon">
							<use xlink:href="./assets/sprite/sprite.svg#icon-loading"></use>
						</svg>
						<p>Добыча рыбы</p>
					</div>
					<div class="business__date">
						<p>8 месяцев в году</p>
					</div>
					<div class="business__about">
						<h3 class="business__title">
							24 малых<br> рыболовецких бота
						</h3>
						<p class="business__text">
							лещ,судак, угорь,<br> чехонь, плотва, окунь.
						</p>
					</div>
					<div class="business__about">
						<h3 class="business__title">
							10 судов<br> в Балтийском,<br> Каспийском морях,<br> Финском заливе
						</h3>
						<p class="business__text">
							килька, салака,<br> треска.
						</p>
					</div>
				</div>
				<div class="business__item business__item--light">
					<div class="business__picture">
						<svg class="business__icon">
							<use xlink:href="./assets/sprite/sprite.svg#icon-boat"></use>
						</svg>
						<p>Сортировка<br> и переработка</p>
					</div>
					<div class="business__date">
						<p>6 месяцев в году</p>
					</div>
					<div class="business__about">
						<p class="business__text">
							Вся рыба идет<br> на сортировку. От приема<br> до переработки<br> или заморозки проходит<br>
							30 минут.
						</p>
						<p class="business__text">
							Часть рыбы замораживается <br>для использования в месяцы,<br> когда вылов невозможен.
						</p>
					</div>
				</div>
				<div class="business__item business__item--light">
					<div class="business__picture">
						<svg class="business__icon">
							<use xlink:href="./assets/sprite/sprite.svg#icon-production"></use>
						</svg>
						<p>Производство</p>
					</div>
					<div class="business__date">
						<p>12 месяцев в году</p>
					</div>
					<div class="business__about">
						<h3 class="business__title">
							Консервы:
						</h3>
						<p class="business__text">
							шпроты, килька в томате<br> и еще 50 наименований.
						</p>
					</div>
					<div class="business__about">
						<h3 class="business__title">
							Пресервы:
						</h3>
						<p class="business__text">
							салака, судак,<br> килька.
						</p>
					</div>
				</div>
				<div class="business__item">
					<div class="business__picture">
						<svg class="business__icon">
							<use xlink:href="./assets/sprite/sprite.svg#icon-warehouse"></use>
						</svg>
						<p>Склад и<br>дистрибьюция</p>
					</div>
					<div class="business__date">
						<p>12 месяцев в году</p>
					</div>
					<div class="business__about">
						<p class="business__text">
							Хранение и реализация.<br>
							Собственная сеть<br> торговли "За родину".
						</p>
					</div>
				</div>
				<div class="business__item">
					<div class="business__picture">
						<svg class="business__icon">
							<use xlink:href="./assets/sprite/sprite.svg#icon-delivery"></use>
						</svg>
						<p>Распространие</p>
					</div>
					<div class="business__date">
						<p>12 месяцев в году</p>
					</div>
					<div class="business__about">
						<p class="business__text">
							Экспортные поставки.
						</p>
						<p class="business__text">
							Торговые сети.
						</p>
						<p class="business__text">
							Поставка в 58 регионов<br> России и 8 стран СНГ.
						</p>
					</div>
				</div>
				<div class="business__item">
					<div class="business__picture">
						<svg class="business__icon">
							<use xlink:href="./assets/sprite/sprite.svg#icon-person"></use>
						</svg>
						<p>Потребитель</p>
					</div>
					<div class="business__date">
						<p>12 месяцев в году</p>
					</div>
					<div class="business__about">
						<p class="business__text">
							Потребители покупают<br> продукцию в сетевых<br> магазинах.
						</p>
					</div>
				</div>
			</div>
			<div class="business__gallery">
				<picture class="business__image">
					<img src="./assets/images/about-1.png" alt="">
				</picture>
				<picture class="business__image">
					<img src="./assets/images/about-2.png" alt="">
				</picture>
				<picture class="business__image">
					<img src="./assets/images/about-3.png" alt="">
				</picture>
				<picture class="business__image">
					<img src="./assets/images/about-4.png" alt="">
				</picture>
				<picture class="business__image">
					<img src="./assets/images/about-5.png" alt="">
				</picture>
				<picture class="business__image">
					<img src="./assets/images/about-6.png" alt="">
				</picture>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="new">
			<div class="new__wrapper">
				<div class="new__about">
					<div class="new__info">
						<h2 class="title">Новый завод</h2>
						<p class="text">
							Существующий спрос на качественные рыбные консервы "За Родину" и другие марки Группы компаний со
							стороны потребителей настолько велик, что руководством было принято решение о строительстве
							нового
							рыбоконсервного завода со складом готовой продукции. Первый рыбоперерабатывабщий проект
							подобного
							масштаба не только для Калининградской области, но и для всего Северо-Западного Федерального
							Округа.
							Предпринятое оснащено оборудованием таких известных мировых производителей как Sterliflow,
							Cabinplant, JK SOMME, DANA-Technology. Для реализации проекта были привлечены
							высококвалифицированные специалисты из Дании, Испании, Латвии и Польши.
						</p>
					</div>
					<div class="new__gallery">
						<picture class="new__picture">
							<img src="./assets/images/grid-img-1.png" alt="">
						</picture>
						<picture class="new__picture">
							<img src="./assets/images/grid-img-2.png" alt="">
						</picture>
						<picture class="new__picture new__picture--full">
							<img src="./assets/images/grid-img-3.png" alt="">
						</picture>
					</div>
				</div>
				<div class="new__list">
					<div class="new__item">
						<picture class="new__img">
							<img src="./assets/images/icon-house.svg" alt="">
						</picture>
						<h3 class="new__title">
							13 тыс.кв.м новых производственных площадей
						</h3>
					</div>
					<div class="new__item">
						<picture class="new__img">
							<img src="./assets/images/icon-pot.svg" alt="">
						</picture>
						<h3 class="new__title">
							120 млн физ.банок
						</h3>
					</div>
					<div class="new__item">
						<picture class="new__img">
							<img src="./assets/images/icon-people.svg" alt="">
						</picture>
						<h3 class="new__title">
							более 1000 рабочих мест
						</h3>
					</div>
					<div class="new__item">
						<picture class="new__img">
							<img src="./assets/images/icon-prod-line.svg" alt="">
						</picture>
						<h3 class="new__title">
							7 производственных линий
						</h3>
					</div>
					<div class="new__item">
						<picture class="new__img">
							<img src="./assets/images/icon-warehouses.svg" alt="">
						</picture>
						<h3 class="new__title">
							Склад для единовременного хранения 13 миллионов банок
						</h3>
					</div>
				</div>
			</div>
			<a href="https://zarodiny.ru/" target="_blank" class="button">
				<img src="./assets/images/icon-fish.svg" alt="">
				<span>Перейти на сайт</span>
			</a>
		</div>
	</section>
</main>
</body>

</html>